.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 50px;
  column-gap: 40px;
}

.about__image {
  border-radius: 50%;
  max-height: 400px;
  max-width: 400px;
}
