.detailed-about {
  display: flex;
  justify-content: space-around;
  gap: 100px;
  max-width: 1440px;
  width: 100%;
  align-items: center;
  margin: 40px 0;
  transition: 0.3s;
}

.detailed-about__image {
  height: 570px;
  width: 400px;
  border-radius: 50%;
  transition: 0.3s;
}

.detailed-about__text {
  max-width: 800px;
  width: 100%;
  font-size: 24px;
  transition: 0.3s;
}

@media (max-width: 1240px) {
  .detailed-about {
    flex-direction: column;
    gap: 50px;
    margin: 20px 0;
  }

  .detailed-about__image {
    height: 450px;
    width: 300px;
  }

  .detailed-about__text {
    font-size: 20px;
  }
}

@media (max-width: 420px) {
  .detailed-about__image {
    height: 300px;
    width: 200px;
  }

  .detailed-about__text {
    font-size: 16px;
    text-align: center;
  }
}
